In [10]:
import copy
a=[1,2,3]
b=a[:]
a==b
a is b
c=copy.deepcopy(a)
c==a
d=copy.copy(a)
d=a
d=[3,2,1]

[1, 2, 3]

In [15]:
import random

CutPoint=[]
size=range(0,5)  #染色體大小 #10+10(range(1,21)) ****************************改*********************

p1=[1,2,3,4,5]
p2=[6,7,8,9,10]

CutPoint=random.sample(size, 2)
CutPoint.sort()
#print(CutPoint)

strpoint=CutPoint[0]
endpoint=CutPoint[1]

c1=p1[:]
c2=p2[:]

print(c1)
print(c2)
c1[strpoint:endpoint]=p2[strpoint:endpoint]
c2[strpoint:endpoint]=p1[strpoint:endpoint]
print(CutPoint)
print(c1)
print(c2)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[2, 4]
[1, 7, 8, 9, 5]
[6, 2, 3, 4, 10]

In [2]:
gapminder[['country', 'continent']]

          country continent
0     Afghanistan      Asia
1     Afghanistan      Asia
2     Afghanistan      Asia
3     Afghanistan      Asia
4     Afghanistan      Asia
...           ...       ...
1699     Zimbabwe    Africa
1700     Zimbabwe    Africa
1701     Zimbabwe    Africa
1702     Zimbabwe    Africa
1703     Zimbabwe    Africa

[1704 rows x 2 columns]

In [1]:
import pandas as pd
xlsx_file = "https://storage.googleapis.com/learn_pd_like_tidyverse/gapminder.xlsx"
gapminder = pd.read_excel(xlsx_file)
print(type(gapminder))
gapminder.head()

<class 'pandas.core.frame.DataFrame'>

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [3]:
gapminder['country']

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object