In [3]:
jobs=[2,3,4,5,6]
size=range(1,len(jobs)+1) 1-5
print(len(jobs))
for i in size:
    print(i)

5
1
2
3
4
5

In [4]:
import plotly.express as px
import datetime
import pandas as pd

df=[]
  
df.append(dict(Task="J1", Start='2020-11-07 %s'%datetime.timedelta(minutes=10),
Finish='2020-11-07 %s'%datetime.timedelta(minutes=10000),Resource="M1"))


#呈現圖表
fig = px.timeline(df, x_start="Start", x_end="Finish", y="Resource", color="Task",text="Task")
fig.show()

TypeError: Both x_start and x_end must refer to data convertible to datetimes.

In [3]:
import pandas as pd
import json
# from wip import WIP

class Job():
    def __init__(self, configure, processTime):
        self.configure = configure  #fix
        self.processTime = processTime[processTime["RECIPE"] == self.configure["RECIPE"]] #fix
        self.startTime = 0 #var
        self.machineID = ''  #var
        self.endTime = 0 #var
         
        for i in self.configure.index:
            setattr(self, i, self.configure[i])

    def set_machine_id(self, machineID):
        self.machineID = machineID

    def set_start_time(self, time):
        self.startTime = time
        processTime = int(self.processTime[ self.processTime["EQP_ID"] == self.machineID ]["PROCESS_TIME"])
        self.endTime = self.startTime + processTime
    
    def get_end_time(self):
        return self.endTime
    
    def __str__(self): 
        return json.dumps(self.configure.to_dict(), indent=4)
    
    def __repr__(self): 
        return json.dumps(self.configure.to_dict(), indent=4)

In [19]:
class Machine(object):
    def __init__(self, configure, setupTime):
        self.configure = configure
        self.setupTime = setupTime

        self.jobs = []

    def add_job(self, job):
        self.jobs.append(job)

    def sort_jobs(self):
        currentTime = int(self.configure["RECOVER_TIME"])
        print(currentTime)

        for i in range(len(self.jobs)):
            self.jobs[i].set_start_time(currentTime)
            currentTime = self.jobs[i].get_end_time()
            
machines = []
for i in range(len(tool.values)):
    machines.append(Machine(tool.iloc[i], setup_time.values))  #setuptime整張表

In [14]:
wip = pd.read_excel("./semiconductor_data.xlsx", sheet_name=2, dtype=str) #K

In [17]:
eqp = pd.read_excel("./semiconductor_data.xlsx", sheet_name=0, dtype=str) #K

In [7]:
setup_time = pd.read_excel("./semiconductor_data.xlsx", sheet_name=3, usecols="B:CW") #欄位
setup_time

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,0,10,10,10,10,10,10,10,10,10,...,10,10,10,10,0,10,0,10,10,10
1,10,0,10,10,10,10,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
2,10,10,0,10,0,10,10,10,10,10,...,10,10,10,10,10,10,10,0,10,10
3,10,10,10,0,10,0,10,10,10,10,...,10,10,10,10,10,10,10,10,10,10
4,10,10,0,10,0,10,10,10,10,10,...,10,10,10,10,10,10,10,0,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,10,10,10,10,10,10,10,10,10,0,...,10,10,10,10,10,0,10,10,10,10
96,0,10,10,10,10,10,10,10,10,10,...,10,10,10,10,0,10,0,10,10,10
97,10,10,0,10,0,10,10,10,10,10,...,10,10,10,10,10,10,10,0,10,10
98,10,10,10,10,10,10,10,10,10,10,...,0,10,10,10,10,10,10,10,0,0
99,10,10,10,10,10,10,10,10,10,10,...,0,10,10,10,10,10,10,10,0,0

In [16]:
tool = pd.read_excel("./semiconductor_data.xlsx", sheet_name=1, dtype=str) #K

In [32]:
jobs = []                               #K
for i in range(len(wip.values)):
    jobs.append(Job(wip.iloc[i], eqp)) 
print(jobs[0].configure["LOT_ID"])

LOT001

In [11]:
machines = []
for i in range(len(tool.values)):
    machines.append(Machine(tool.iloc[i], setup_time.values))  #setuptime整張表

In [13]:
machines[1].sort_jobs()

240

In [80]:
RECIPE = pd.read_excel("./semiconductor_data.xlsx")

In [74]:
jobs[0].processTime

    EQP_ID RECIPE  PROCESS_TIME
7   EQP001  Y8000           100
17  EQP002  Y8000           120
27  EQP003  Y8000           130
37  EQP004  Y8000           110
47  EQP005  Y8000           130
57  EQP006  Y8000           150
67  EQP007  Y8000           110
77  EQP008  Y8000           150
87  EQP009  Y8000           140
97  EQP010  Y8000           110

In [75]:
jobs[0].RECIPE

'Y8000'

In [6]:
a=[1,2,3]
len(a)

3

In [19]:
setup_time = pd.read_excel("./semiconductor_data.xlsx", sheet_name=3, usecols="B:CW") #欄位

In [5]:
setup_time.at[1,1]

10

In [37]:
setup_time = pd.read_excel("./semiconductor_data.xlsx", sheet_name=3) #欄位

In [44]:
import pandas as pd
result = pd.read_csv("result.csv")
result.columns=["Lot_id","HB","Wire","Entity","Start_t","End_t"]  # add header
entities= result.groupby("Entity") # group by entity
entities.groups #show dict, value is row index

{' BB211': [718, 719], ' BB212': [142, 253, 256, 346, 578], ' BB213': [691, 706, 707, 735], ' BB214': [8, 90, 107, 264, 301, 403, 434, 519, 623], ' BB215': [1919], ' BB216': [2063, 2087], ' BB217': [2143, 2147, 2150, 2160], ' BB218': [23, 47, 63, 89, 289, 447, 499, 506, 579], ' BB219': [2140, 2161], ' BB220': [1642, 1654], ' BB221': [2075, 2081, 2083], ' BB223': [58, 152, 184, 258, 262, 318, 430, 453, 480, 548, 581], ' BB224': [147, 195, 394, 542, 649], ' BB225': [24, 54, 215, 344, 391, 551, 595, 604, 642], ' BB226': [923, 924, 934, 977, 981, 991], ' BB227': [2146, 2151, 2156], ' BB228': [2155, 2158], ' BB229': [749], ' BB230': [2145, 2163], ' BB231': [49, 148, 313, 327, 362, 461, 625], ' BB232': [2061, 2062, 2074, 2076, 2077, 2079, 2080], ' BB233': [273, 395, 526, 568, 608], ' BB234': [1, 2, 182, 324, 452, 460, 486, 550, 582], ' BB235': [101, 306, 351, 400, 487, 594], ' BB441': [925, 975], ' BB442': [751], ' BB443': [1615, 1632, 1639], ' BB444': [1112, 1122, 1138, 1155], ' BB445': [1146, 1153, 1158], ' BB446': [1916, 1921, 1937], ' BB447': [1400, 1415, 1436, 1451, 1462], ' BB448': [727, 734], ' BB449': [1998, 2005, 2013, 2014, 2022, 2023], ' BB450': [696, 777], ' BB451': [2120, 2121, 2125, 2130, 2137, 2139], ' BB452': [1426], ' BB453': [1828, 1840], ' BB454': [1160], ' BB455': [1392, 1418], ' BB456': [671], ' BB457': [1624, 1644], ' BB458': [1906, 1915, 1935, 1941], ' BB459': [1999, 2000, 2003, 2008, 2024], ' BB460': [1123, 1127, 1150, 1184, 1195, 1201], ' BB461': [1410], ' BB463': [912, 919, 930, 969, 997], ' BB465': [1395, 1447, 1460], ' BB466': [672, 728], ' BB467': [780], ' BB468': [2104, 2108, 2109], ' BB469': [1989], ' BB470': [1617], ' BB471': [1407, 1422, 1443, 1473], ' BB472': [1429, 1432, 1437, 1442, 1456, 1465], ' BB473': [1987, 2025], ' BB474': [2194], ' BB475': [663, 710], ' BB476': [1990, 2004, 2017, 2021, 2026], ' BB477': [1397, 1430, 1440, 1461], ' BB478': [1427, 1457], ' BB479': [729], ' BB480': [2116], ' BB481': [700, 731], ' BB483': [660, 664, 673, 692, 739], ' BB484': [928, 992], ' BB485': [2115, 2122, 2124, 2129, 2133, 2134], ' BB486': [1402, 1441, 1459], ' BB487': [906, 933, 936, 1009], ' BB488': [2092, 2100, 2103, 2112, 2113], ' BB489': [1452], ' BB490': [926, 939, 943, 947, 973, 983, 995, 999], ' BB496': [1823, 1826, 1845, 1854, 1860], ' BB497': [2065, 2069, 2070, 2073, 2085], ' BB498': [1905, 1918, 1940, 1942], ' BB500': [957, 964, 978, 988, 1003, 1005], ' BB502': [1412, 1453], ' BB503': [1917, 1925, 1931], ' BB505': [2027, 2029, 2030, 2031, 2032, 2033, 2034, 2035, 2037, 2038, 2039, 2040, 2041, 2042, 2043, 2046, 2048, 2049, 2050, 2052, 2053, 2054, 2056, 2059], ' BB506': [1818, 1829], ' BB507': [931, 932, 963, 974, 987], ' BB508': [745], ' BB510': [2088, 2091, 2093, 2094, 2098, 2105, 2110], ' BB511': [1646, 1653, 1662], ' BB512': [1405], ' BB514': [1831, 1836, 1837, 1841, 1848], ' BB515': [698, 714], ' BB516': [1908, 1911, 1920, 1922], ' BB517': [1843, 1844], ' BB518': [1661], ' BB519': [1130, 1133], ' BB521': [2165, 2166, 2168, 2169, 2171, 2173, 2175, 2177, 2179, 2180, 2182, 2186], ' BB522': [1116, 1117, 1196], ' BB523': [681, 778], ' BB524': [1121, 1151, 1176], ' BB525': [1926, 1939, 1944], ' BB526': [2117, 2118, 2123, 2135], ' BB527': [1110, 1129, 1190], ' BB528': [1994], ' BB529': [948, 966, 967, 968, 979, 1004, 1007, 1010], ' BB530': [674, 711], ...}

In [104]:
import plotly.express as px
import pandas as pd
import datetime
import time # 引入time

result = pd.read_csv("result.csv",names=["Lot_id","HB","Wire","Entity","Start_t","End_t"])
entities= result.groupby("Entity") # group by entity
# entities.groups #show dict, value is row index
entity_key_list= list(entities.groups.keys()) # key list

# 2021/4/17 (改變數)
ini_time_stamp = 1618615800 

df=[]
for i in range(3):
    key= entity_key_list[i]
    for j in range(len(entities.groups[key])):
        row_index=entities.groups[key][j]
        Lot_id =result.iloc[row_index].at['Lot_id'].strip()
        Entity =result.iloc[row_index].at['Entity'].strip()
        start_ts =  time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(ini_time_stamp+result.iloc[row_index].at['Start_t']*60)) 
        end_ts =  time.strftime("%Y-%m-%d %H:%M:%S", time.localtime(ini_time_stamp+result.iloc[row_index].at['End_t']*60)) 

        df.append(dict(Lot_ID= Lot_id, Start=start_ts,Finish=end_ts,Entity=Entity))

len(entity_key_list)
# #呈現圖表
# fig1 = px.timeline(df, x_start="Start", x_end="Finish", y="Entity", color="Wire",text="Lot_ID")
# fig1.update_yaxes(categoryorder="category descending") # 
# fig1.show()

543

In [119]:
import pandas as pd
df2 = pd.read_csv('WipOutPlanTime_.csv')
df3=df2[['wlot_lot_number','pin_package','wlot_prod','wlot_qty_1','bd_id']]
df2

,route,wlot_lot_number,wlot_crt_dat_al_1,pin_package,wlot_prod,wlot_qty_1,wlot_qty_2,wlot_oper,wlot_hold,cust_code,...,wlot_mvin_perfmd,wlot_actl_mvin_dt,wlot_actl_mvin_tm,wlot_dt_last_trans,wlot_tm_last_trans,wlot_hold_category,wlot_assy_lot,bd_id,urgent_code,wip_outplan_time
0,MBGA558,P10NVLK22,PHISON,uSD08AQV-C,0086ANV167,1551,0,2200,N,NV,...,Y,20210417,439,20210417,439,NaN,P10NVLK,ANV0086A1062A,E,2021/4/17 07:19
1,MBGA934,P13HQJR02,EMC,FPSSLGA28r6V,0282JHQ031,2360,0,2200,N,HQ,...,Y,20210417,644,20210417,644,NaN,P13HQJR,AHQ0282J2006A,NaN,2021/4/17 18:23
2,QFNS205,P15VGA437,ISSI-VG,DFN-08YD2A,008YDVG003,3520,0,2070,N,VG,...,Y,20210417,710,20210417,11708,NaN,P15VGA4,ABU008YD2008A,NaN,NaN
3,QFNS205,P15VGA453,ISSI-VG,DFN-08YD2A,008YDVG003,3520,0,2070,N,VG,...,Y,20210417,710,20210417,11708,NaN,P15VGA4,ABU008YD2008A,NaN,NaN
4,QFNS205,P15VGA421,ISSI-VG,DFN-08YD2A,008YDVG003,3520,0,2070,N,VG,...,Y,20210417,710,20210417,11708,NaN,P15VGA4,ABU008YD2008A,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32351,BGADAE01,ND9ABIX05,ChipMOS,MAT,0008WDAE001,4000,0,5070,N,FQ,...,N,0,0,20200928,230813,NaN,ND9ABIX,NaN,NaN,NaN
32352,BGADAE01,ND9ABIZ04,ChipMOS,MAT,0008WDAE001,4000,0,5070,N,FQ,...,N,0,0,20200930,25151,NaN,ND9ABIZ,NaN,NaN,NaN
32353,BGADAE01,ND9ASCR01,ChipMOS,MAT,0008WDAE001,11520,0,5070,N,FQ,...,N,0,0,20201010,23252,NaN,ND9ASCR,NaN,NaN,NaN
32354,BGADAE01,ND9ASCT05,ChipMOS,MAT,0008WDAE001,11520,0,5070,N,FQ,...,N,0,0,20201013,200440,NaN,ND9ASCT,NaN,NaN,NaN
32355,BGADAE01,ND9ASCW03,ChipMOS,MAT,0008WDAE001,11520,0,5070,N,FQ,...,N,0,0,20201017,101429,NaN,ND9ASCW,NaN,NaN,NaN

In [416]:
import csv
# import pandas
import pandas as pd
import numpy as np  
# read csv data
df1 = pd.read_csv("result(new).csv",names=["wlot_lot_number","bd_id","HB","Wire","Entity","Start_t","End_t"])
df1.replace('\s+','',regex=True,inplace=True)
df2 = pd.read_csv('WipOutPlanTime_.csv')[['wlot_lot_number','wlot_crt_dat_al_1','pin_package','wlot_prod','wlot_qty_1']]
df3 = pd.read_excel('機台區域作業產品.xls')[['Entity','Location']]
   
Left_join1 = pd.merge(df1, df2, on ='wlot_lot_number', how ='left')
Left_join2 = pd.merge(Left_join1, df3, on ='Entity', how ='left')
Left_join2
group= Left_join2.groupby(['wlot_crt_dat_al_1','pin_package','wlot_prod','bd_id','Location'])
group.describe()
#len(group.groups.keys())

#len(group.size())
list(dict(group.size()))
list(group.size())
list(dict(group.size()))
list(group.size())
group_keys_t=list(group.groups.keys())
#temp=list(list(group.groups.keys())[0])
#temp.append(5)
list(group_keys_t[0])

# all_rows=[]
# for i in range(len(group.size())):

#     temp= list(group_keys_t[i])
#     temp.append(group.size()[i]) #add amount ENT
#     temp.append(qty_list[i]) #add amount ENT
#     all_rows.append(temp)
# with open('yourOutput.csv', 'w', newline='') as csvFile:
#   # 建立 CSV 檔寫入器
#     writer = csv.writer(csvFile)
# #   # 1.直接寫出-標題
#     writer.writerow(['CUSTOMER','Pin-pkg','Prod_ID','Bond ID','TA/TB','Allocate ENT','Output plan'])

#     writer.writerows(all_rows)

In [461]:
import csv
import pandas as pd
import numpy as np  

# read csv data
df1 = pd.read_csv("result(new).csv",names=["wlot_lot_number","bd_id","HB","Wire","Entity","Start_t","End_t"])
df1.replace('\s+','',regex=True,inplace=True)

df2 = pd.read_csv('WipOutPlanTime_.csv')[['wlot_lot_number','wlot_crt_dat_al_1','pin_package','wlot_prod','wlot_qty_1']] ## replace to provided data

df3 = pd.read_excel('機台區域作業產品.xls')[['Entity','Location']]
   
Left_join1 = pd.merge(df1, df2, on ='wlot_lot_number', how ='left')
Left_join2 = pd.merge(Left_join1, df3, on ='Entity', how ='left')
Left_join2
group= Left_join2.groupby(['wlot_crt_dat_al_1','pin_package','wlot_prod','bd_id','Location'])


# ---caculate total qty -------
qty_list=[]
group_key_list= list(group.groups.keys())

# accumulation
for i in range(len(group_key_list)): 
    key= group_key_list[i]
    qty_sum=0
    for j in range(len(group.groups[key])):
        row_index=group.groups[key][j]
        qty_sum+=Left_join1.iloc[row_index].at['wlot_qty_1']

    qty_list.append(qty_sum)
# -------

# Aggregate all needed data

# record original keys
group_keys_t=list(group.groups.keys())

all_rows=[]
for i in range(len(group.size())):

    temp= list(group_keys_t[i])
    temp.append(group.size()[i]) #add amount ENT column
    temp.append(qty_list[i]) #add amount qty column
    all_rows.append(temp)

# write to csv
with open('yourOutput.csv', 'w', newline='') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerow(['CUSTOMER','Pin-pkg','Prod_ID','Bond ID','TA/TB','Allocate ENT','Output plan'])
    writer.writerows(all_rows)

In [220]:
import csv

list1 =[[2,3],[6,7]]
# 開啟輸出的 CSV 檔案
with open('yourOutput.csv', 'w', newline='') as csvFile:
  # 建立 CSV 檔寫入器
  writer = csv.writer(csvFile)

  # 1.直接寫出-標題
  writer.writerow(['姓名','年齡','電話','地址'])


  # 2.寫出多維陣列
  Table = [['姓名','年齡','電話','地址'],['葉大雄',18, '0911-123-123', '台北市火車站大廳'],['林靜香',26, '0911-456-456', '台北市中山北路二段']]
  writer.writerows(list1)

In [397]:
import csv
with open('yourOutput.csv', 'w', newline='') as csvFile:
  # 建立 CSV 檔寫入器
  writer = csv.writer(csvFile)
  # 1.直接寫出-標題
  writer.writerow(['CUSTOMER','Pin-pkg','Prod_ID','Bond ID','TA/TB','Allocate ENT'])

  writer.writerows(list1)